<h1>Find Music under Creative Commons</h1>

<div class="search">
  <%= form_tag(albums_path, :method => "get", id: "search-form")  %>
</div>
<div class="search">
  <%= text_field_tag :tags, params[:tags], placeholder: "Enter genres" %>
  <%= select_tag :license_type, options_for_select(["Modifications allowed", "Commercial use allowed",
  "Commercial use & mods allowed", "Non-commercial use only & no mods allowed"],
   params[:license_type]), prompt: "All creative commons" %>
  <%= submit_tag "Search", name: nil %>
</div>

<ul id="albums">
  <% @albums.each do |album| %>
    <li>
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <% if album.image_src.blank? %>
                <div id="image"><%= link_to image_tag("not_available_image.jpg", size:'150'), album.link %></div>
            <% else %>
                <div id="image"><%= link_to image_tag(album.image_src, size:'150'), album.link %></div>
            <% end %>
          </div>
          <div class="col-lg-10">
            <p><div id="artist"><%= album.artist %></div>  —
            <div id="title"><%= album.title %></div></p>
            <div id="description"><p><%= album.description %></p></div>
            <div id="release_date"><p><%= album.release_date %></p></div>
            <div id="tags"><p><%= album.tags.join(", ") %></p></div>
            <div id="link"><p><%= link_to album.link, album.link %></p></div>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
